.env
.gradio/
.venv/
src/model/saved/finbert/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.idea/
*.log
output/
src/financial_news_classifier.egg-info
src/__pycache__


zipper.py
zipped_model.zip
# ===================
# HF Spaces Deployment
# ===================
# Nested git repositories for HF Spaces (separate from GitHub)
hf_space_temp/
YOUR_SPACE_NAME/
deployments/hf_spaces/
deployment/hf_spaces/
